body{
  font-family: "Arial";
  background-color: #10627a;
}

h1{
  margin-left: 10%;
  font-family: 'Lobster', cursive;
  color: #10627a;
  font-size: 40px;
}

p{
  font-family: "Arial";
}

textarea, input, button{
   outline: none;
}

.flexcolumn{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f4f4;
}

.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}

.button{
  width: 40%;
  margin: auto;
  background-color: #10627a;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px;
  border-radius: 15px;
  width: 20%;
  font-family: "Lato", sans-serif;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.custom-select{
  position: relative;
  font-family: "Lato", sans-serif;
  width: 200px;
}

.custom-select select{
  font-size: 16px;
  color: black;
  border: 2px solid #10627a;
  margin-top: 10px;
  background-color: white;
  width: 100%;
}

#skrevetNavn{
  margin-top: 10px;
  font-size: 16px;
  border: 2px solid #10627a;
}

.tabellOgListe{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.storInput{
  height: 200px;
}

.høyreStilt{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#map{
  height: 800px;
}
