body{
  font-family: "Arial";
  background-color: #10627a;
}

h1{
  margin-left: 20%;
  font-family: 'Open Sans', sans-serif;
  color: #7a2910;
}

p{
  font-family: "Arial";
}

textarea, input, button{
   outline: none;
}

.flexcolumn{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f4f4;
}

.flexrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}

.button{
  width: 40%;
  margin: auto;
  background-color: #10627a;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  padding: 10px;
  border-radius: 15px;
  width: 20%;
  font-family: "Lato", sans-serif;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

#map{
  height: 800px;
}
